.video-js .vjs-big-play-button {
    height: 2em !important;
    width: 2em !important;
    line-height: 1.7em !important;
    margin-top: -1em !important;
    margin-left: -1em;
    border-width:4px
}
.video-js .vjs-icon-play:before, .video-js .vjs-big-play-button:before {
    font-size: 40px;
}
.video-js  .vjs-progress-holder {
    font-size: 1.7em;
    border-radius: 10px;
}
.video-js .vjs-progress-holder .vjs-play-progress, .video-js .vjs-progress-holder .vjs-load-progress, .video-js .vjs-progress-holder .vjs-load-progress div, .video-js .vjs-slider,.vjs-volume-level {
    border-radius: 10px;
}
.video-js .vjs-load-progress {
    background: rgba(255,255,255,0.5);
}
.video-js, .video-js video, .vjs-poster, .video-js .vjs-tech {
    border-radius: 8px;
}